img { max-width: 100%; }

#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

#splash {
  background: url(../img/splash.png) center no-repeat;
  background-size: cover;
}

.readable p {
  line-height: 150%;
  letter-spacing: 0.5px;
}

.readable ul {
  line-height: 150%;
}

.owl-carousel img {
  max-width: 100%;
}

.ui-page-theme-a .ui-header {
	background-color: #72B844;
	color: #ffffff;
}

.ui-title {
  text-shadow: none;
}

.ui-page-theme-a .ui-btn.ui-btn-active {
  background-color: #72B844;
  border-color: #72B844;
  color: #fff;
  text-shadow: 0 1px 0 #72B844;
}
